body {
    font-family:arial,helvetica; 
    font-size:10pt;
    color:#000000;
}

.border{
	border-width:0.1%;
  	border-style:solid;
  	border-color:#eb7646;
  	text-align:justify;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:8%;
}

.border_top {
    border-top-width:0.1%;
  	border-top-style:solid;
  	border-top-color:#eb7646;
}

.menu {
    width: 50%;
}

h1{
	padding-top:3.5%;
	padding-bottom:3.5%;
	text-align:center;
	color:#cd2726;
}

h2 {
    text-align:center;
    color:#cd2726;
}

a { 
    color:#cd2726;
    font-weight:bold;
    text-decoration:none;    
}

a:hover {
    border-left-width:0.1%;
  	border-left-style:solid;
  	border-left-color:#eb7646;
}

.floating_left{
	float:left;
	width:20%;
}

.socialMediaBar{
	padding-top:2%;
}

.index_Main{
	width:60%;
	min-height:500px;
	float:left;
	margin-left: 4%;
	padding: 1%;
	
}
